.section {
    background-color: white;

}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid hsl(o, 0%, 87%);

}

.section--under {
    border: 1px solid hsl(0, 0%, 87%);
    margin-top: 10px;
}



.section__title {
    font-size: 20px;
    margin: 0 auto;
   
}

.section__lowerHeader {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media (max-width: 767px) {
    .section__lowerHeader {
        grid-template-columns: 1fr;
    }
}