.form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
  }
  .form__input{
    padding: 10px;
    border:1px solid hsl(0, 0%, 87%);
  }
  
  
  
  
  .form__button {
    background-color: hsl(180, 100%, 25%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
  }
  
  .form__button:active {
    background: hsl(180, 100%, 36%);
  }
  
  @media (max-width: 767px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .form__button:hover {
      transform: scale(1.04);
    }
  }