.list__tasks {
    padding: 10px;
  }
  
  .list__task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #ddd;
    grid-gap: 20px;
  }
  
  .list__task--hidden {
      display: none;
  }
  
  .list__text {
    padding: 0px 20px;
  }
  
  .list__text--done {
    text-decoration: line-through;
  }
  
  .tasks__button {
    height:30px;
    width: 30px;
    background-color: hsl(348, 83%, 50%);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .tasks__button--toggleDone {
    background-color: hsl(120, 100%, 25%);
  }
  
  .tasks__button--toggleDone:hover {
    background-color: hsl(120, 100%, 35%);
  }
  
  .tasks__button--toggleDone:active {
    background-color: hsl(120, 100%, 40%);
  }
  
  .tasks__button--remove {
    background-color: hsl(0, 100%, 40%);
  }
  
  .tasks__button--remove:hover {
    background-color: hsl(0, 100%, 50%);
  }
  
  .tasks__button--remove:active {
    background-color: hsl(0, 100%, 60%);
  }
  