.buttons__button {
    border: none;
    color: hsl(180, 100%, 25%);
    background: transparent;
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  @media (max-width: 765px) {
    .buttons__button {
      flex-basis: 100%;
      margin: 10px;
    }
  }
  
  .buttons__button:hover {
    color: hsl(180, 100%, 45%);
  }
  
  .buttons__button:active {
    color: (180, 100%, 35%);
  }
  
  .buttons__button:disabled {
    color: hsl(0, 0%, 70%);
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
  }